In [1]:
import pandas as pd

In [2]:
filepath = 'adult.data.csv'
chart = pd.read_csv(filepath)

In [3]:
chart.head

<bound method NDFrame.head of        age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]>

In [4]:
chart.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [5]:
chart.top

AttributeError: 'DataFrame' object has no attribute 'top'

In [6]:
chart.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
chart['race']

0        White
1        White
2        White
3        Black
4        Black
         ...
32556    White
32557    White
32558    White
32559    White
32560    White
Name: race, Length: 32561, dtype: object

In [9]:
race = chart['race']

In [10]:
men = chart[chart['sex'] == 'Male']

In [12]:
average_age = men['age'].sum()/men.count()

In [13]:
average_age

age               39.433547
workclass         39.433547
fnlwgt            39.433547
education         39.433547
education-num     39.433547
marital-status    39.433547
occupation        39.433547
relationship      39.433547
race              39.433547
sex               39.433547
capital-gain      39.433547
capital-loss      39.433547
hours-per-week    39.433547
native-country    39.433547
salary            39.433547
dtype: float64

In [14]:
men['age'].sum()

859257

In [15]:
men.count()

age               21790
workclass         21790
fnlwgt            21790
education         21790
education-num     21790
marital-status    21790
occupation        21790
relationship      21790
race              21790
sex               21790
capital-gain      21790
capital-loss      21790
hours-per-week    21790
native-country    21790
salary            21790
dtype: int64

In [16]:
average = men['age'].sum()/men['age'].count
average

TypeError: unsupported operand type(s) for /: 'int' and 'method'

In [17]:
average_age = men['age'].sum()/men['age'].count()
average_age

39.43354749885268

In [19]:
degree = chart[chart['education'] == 'Bachelors']
percentage_bachelors = degree['education'].count()/chart['education'].count()
percentage_bachelors

0.16446055096587942

In [27]:
degree2 = chart[chart['education'] == 'Masters']
degree3 = chart[chart['education'] == 'Doctorate']
higher_education = (degree2['education'].count()+degree['education'].count()+degree3['education'].count())/chart['education'].count()
higher_education

0.23006050182733945

In [28]:
advanced = ['Bachelors', 'Masters', 'Doctorate']
advanced_ed = chart.loc[chart['education'].isin(advanced)]

In [29]:
higher_education = advanced_ed['education'].count()/chart['education'].count()

In [30]:
higher_education

0.23006050182733945

In [31]:
higher_education.shape()

TypeError: 'tuple' object is not callable

In [32]:
advanced_ed.shape()

TypeError: 'tuple' object is not callable

In [33]:
chart.shape()

TypeError: 'tuple' object is not callable

In [34]:
chart.shape[0]

32561

In [38]:
no_ad = chart.loc[~(chart['education'].isin(advanced))]
higher_education_rich = advanced_ed[advanced_ed['salary'] == ">50K"].shape[0]/advanced_ed.shape[0]
lower_education_rich = no_ad[no_ad['salary'] == ">50K"].shape[0]/no_ad.shape[0]
higher_education_rich
lower_education_rich

0.173713601914639

In [41]:
min_work_hours = chart["hours-per-week"].min()
min_work_hours

1

In [42]:
num_min_workers = chart[chart["hours-per-week"] == 1].shape[0]
num_min_workers

20

In [44]:
rich_min = chart[(chart["hours-per-week"] == 1) & (chart['salary'] == '>50K')].shape[0]
rich_min/20

0.1

In [46]:
country = chart["native-country"].value_counts()

In [47]:
country

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [50]:
for i, j in country.items():
    print(i)

United-States
Mexico
?
Philippines
Germany
Canada
Puerto-Rico
El-Salvador
India
Cuba
England
Jamaica
South
China
Italy
Dominican-Republic
Vietnam
Guatemala
Japan
Poland
Columbia
Taiwan
Haiti
Iran
Portugal
Nicaragua
Peru
France
Greece
Ecuador
Ireland
Hong
Trinadad&Tobago
Cambodia
Laos
Thailand
Yugoslavia
Outlying-US(Guam-USVI-etc)
Hungary
Honduras
Scotland
Holand-Netherlands

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,?,<=50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
93,30,Private,117747,HS-grad,9,Married-civ-spouse,Sales,Wife,Asian-Pac-Islander,Female,0,1573,35,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32449,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,?,>50K
32469,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,?,<=50K
32492,42,Self-emp-not-inc,217597,HS-grad,9,Divorced,Sales,Own-child,White,Male,0,0,50,?,<=50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [54]:
times = ["a", 0]

In [55]:
times

['a', 0]

In [58]:
for i, j in country.items():
    percentage = chart[(chart['native-country']==i) & (chart['salary']=='>50K')].shape[0]/chart[chart['native-country']==i].shape[0]
    if percentage > times[1]:
        times[0] = i
        times[1] = percentage
times[0]

'Iran'

In [59]:
times[1]

0.4186046511627907

In [60]:
percentage = chart[(chart['native-country']=='Germany') & (chart['salary']=='>50K')].shape[0]/chart[chart['native-country']=='Germany'].shape[0]

In [61]:
percentage

0.32116788321167883

In [66]:
india = chart[(chart['native-country']=='India')&(chart['salary'] == '>50K')]
india["occupation"].value_counts().idxmax()

'Prof-specialty'